.jumbotron {
    margin-bottom: 0px;
    text-align: center;
    background-color: #999b9e;
    min-height: 1px;
    height: 100px;
}

body{
    background-color: #dbdbdb;
    background-image: url("forest.jpg") 
}

.nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#wrapper {
    margin-top: 40px;
    background-color: #999b9e;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pictureofme {
    width: 200px;
    height: 250px;
    margin-bottom: 10px;
    border: 5px;
    border-style: solid;
    border-color: black;
    margin-left: 18px;
}

#aboutme {
    margin-bottom: 15px;
}

#myschedule {
    margin-bottom: 15px;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #404040;
}
